## Titanic project

Table of content
* 1. [Preperation](#1-preperation)
    * 1.1. [Import relevant libraries](#11-import-relevent-libraries)
    * 1.2. [Load data from the file](#12-load-data-from-the-file)
* 2. Data overview
    * 2.1. Data dictionary
    * 2.2. Properties
    * 2.3. Features
    * 2.4. Null values
    * 2.5. Statistical distribution
* 3. Feature engineering
* 4. Data cleaning
* 5. What about this

## 1. Preperation
### 1.1. Import relevent libraries

In [1]:
# data analysis
import pandas as pd
import numpy as np
from scipy import stats

# visualisation
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### 1.2. Load data from the file

In [2]:
# load train.csv to pandas data frame, using 'PassengerId' as the index
master_df = pd.read_csv('../input/titanic/train.csv' , index_col='PassengerId')

# Create a working copy of the data frame for manipulation. The master will serve as the baseline.
working_df = master_df.copy()

# Preview the data
working_df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 2. Data overview
### 2.1. Data dictionary

![Dictionary](../input/dictionary/Screenshot-20210426-172830.png)
### 2.2. Properties

In [3]:
print("There are {} rows and {} columns"
      .format(master_df.shape[0], master_df.shape[1]))

There are 891 rows and 11 columns

In [4]:
# print basic summary of the dataset
print(master_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB
None

### 2.3. Features
The dataset contains 3 data types. We will assume that float64 represent continuos data, int64 represents descrete data and object represents categorical data.
* Continuos data: age, fare.
* Descrete data: survived, pclass, sibsp, parch.
* Categorical data: name, sex, cabin, embarked

## 2.4. Null values

In [5]:
master_df.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

* As we can see cabin is null 687 out of 891 instances. Any imputation would likely introduce signficant bias. We can drop this feature.
* Embarked null values constitute minor portion of the data age(177 of 891) and embarked(2 of 891). Imputation of these features will have minimal impact of correliation.

### 2.5. Statistical distribution

Statistical distribution of categorical features

In [6]:
master_df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Print statistical distribution of categorical data

In [7]:
master_df.describe(include=['O'])

                      Name   Sex    Ticket        Cabin Embarked
count                  891   891       891          204      889
unique                 891     2       681          147        3
top     Jonkoff, Mr. Lalio  male  CA. 2343  C23 C25 C27        S
freq                     1   577         7            4      644

## 3. Feature engineering
### 3.1. Title